*{
  margin: 0;
  padding: 0;
}
.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}

.appTitle{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 197, 76);
  padding: 20px 0;
}